@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-slate-900;
  @apply text-white;
}

* {
  font-family: 'Courier New', Courier, monospace;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main > .box {
  @apply bg-slate-600;
  border: 1px solid whitesmoke;
  width: 100px;
  height: 100px;
}